<footer class="py-5">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-3">

                <h6> <span class="first-letter">ع</span> عدسة </h6>
                <p>مدونة متخصصة في فن التصوير الفوتوغرافي، نشارك معكم أسرار المحترفين ونصائح عملية لتطوير مهاراتكم. </p>

                <ul class="d-flex soical-links p-0 my-4">
                    <li class="mx-1">
                        <a href="https://x.com/adasah" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                    </li>
                    <li class="mx-1">
                        <a href="https://github.com/adasah" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </li>
                    <li class="mx-1">
                        <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQE7Iqmxbcjl_wAAAaAKusdANePDrh1QvIGEy6ioZxbVY8OFPMZFbxh7QXzBQWBOoB1kOGdodvYQady0aD087DU756DrvuAyGhDXnOlf6D28JqjE3ifjVKNK77SfuzP9QBu28_M=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fadasah"
                            target="_blank"><i class="fa-brands fa-square-linkedin"></i> </a>
                    </li>
                    <li class="mx-1">
                        <a href="https://www.youtube.com/@adasah" target="_blank"><i
                                class="fa-brands fa-youtube"></i></a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 explore">
                <h6><span class="line"></span>استكشف
                </h6>

                <ul class="p-0">
                    <li class="my-3">
                        <a href="">
                            <i class="fa-solid fa-greater-than"></i>
                            <span>الرئيسية</span>
                        </a>
                    </li>
                    <li class="my-3">
                        <a [routerLink]="['/blog']">
                            <i class="fa-solid fa-greater-than"></i>
                            <span>المدونة</span>
                        </a>
                    </li>
                    <li class="my-3">
                        <a [routerLink]="['/about']">
                            <i class="fa-solid fa-greater-than"></i>
                            <span>من نحن</span>
                        </a>
                    </li>
                </ul>


            </div>

            <div class="col-lg-3  categories">
                <h6><span class="line"></span>التصنيفات
                </h6>

                <ul class="p-0">
                    <li class="my-3">
                        <a [routerLink]="['/blog']" [queryParams]="{ category: 'إضاءة'}">
                            <i class="fa-solid fa-greater-than"></i>
                            <span>اضاءة</span>
                        </a>
                    </li>
                    <li class="my-3">
                        <a [routerLink]="['/blog']" [queryParams]="{ category: 'بورتريه' }">
                            <i class="fa-solid fa-greater-than"></i>
                            <span>بورتريه</span>
                        </a>
                    </li>
                    <li class="my-3">
                        <a [routerLink]="['/blog']" [queryParams]="{ category: 'مناظر طبيعية' }">
                            <i class="fa-solid fa-greater-than"></i>
                            <span>مناظر طبيعية </span>
                        </a>
                    </li>
                    <li class="my-3">
                        <a [routerLink]="['/blog']" [queryParams]="{ category: 'تقنيات' }">
                            <i class="fa-solid fa-greater-than"></i>
                            <span> تقنيات </span>
                        </a>
                    </li>
                </ul>


            </div>

            <div class="col-lg-3">
                <h6><span class="line"></span>ابقى على اطلاع
                </h6>

                <p class="fs-6">اشترك للحصول على أحدث المقالات والتحديثات.</p>
                <input class="btn form-control text-white  px-4 " type="text" name="" id=""
                    placeholder="ادخل البريد الالكتروني ">
                <a class="btn subscribe-link" [routerLink]="['/home']">اشترك </a>

            </div>





        </div>





    </div>

</footer>

<div class="after-footer">
    <div class="container">

        <p> <i class=" fa-regular fa-copyright"></i>
            <span>2026 عدسة. صنع بكل<i class="fa-solid fa-heart" style="color: rgb(233, 80, 9);"></i> جميع الحقوق
                محفوظة.</span>
        </p>


        <div>
            <span>
                <a [routerLink]="['/privacy']">سياسة الخصوصية</a>
            </span>
            <span>
                <a [routerLink]="['/privacy']">شروط الخدمة</a>
            </span>
        </div>
    </div>
</div>