.container {
  width: 65%;
  margin: auto;
}

section {
  background-color: #0a0a0a;
  .top-content {
    a {
      color: #a1a1a1;
      font-size: 14px;
    }
    i {
      align-self: center;
      font-size: 12px;
      margin-inline: 5px;
    }
    span {
      color: #ff6900;
    }
    h4 {
      font-size: 50px;
      color: #fff;
    }
    p {
      color: #a1a1a1;
      font-size: 18px;
    }
  }
  .parent-icon {
    width: 7% !important;
    color: #ff6900;
    background-color: color-mix(in oklab, var(--color-orange-500) 10%, transparent);
    padding-block: 12px;
    border-color: color-mix(in oklab, var(--color-orange-500) 30%, transparent);
    border: 1px solid;
    margin: auto;
    border-radius: 11px;
    i {
      font-size: 25px;
      color: #ff6900;
    }
  }

  .content {
    border-color: #262626 !important;
    border-width: 1px;
    border-style: soild;
    .title {
      background-color: color-mix(in oklab, #ff6900 10%, transparent);
      border: 1px solid #ff6900;
      padding-block: 20px;
      padding-inline: 20px;
      border-radius: 20px;
      width: 87%;
      margin: auto;
      margin-bottom: 40px;
      h6 {
        color: #ff6900;
      }
      p {
        color: #ffb96dcc;
      }
    }
  }
}
.icon-card {
  width: 5%;
  svg {
    width: 80%;
    color: #ff6900;
  }
}

svg {
  width: 3%;
  color: #ff6900;
  margin-left: 10px;
}

ul.content {
  li {
    span.num-list {
      display: inline-block;
      padding-block: 2px;
      padding-inline: 13px;
      border: 1px solid #fd8a00;
      border-radius: 9px;
      font-size: 18px;
      color: #fff;
      background-color: #fd8a00;
    }
    span.title-num {
      color: #fff;
      font-size: 23px;
    }
    span {
      color: #a1a1a1;
    }
    p {
      color: #a1a1a1;
      font-size: 17px;
    }

    a {
      color: #ff6900;
      font-size: 14px;
      transition: all 0.5s;
      svg {
        transition: all 0.5s;
        width: 2%;
      }
      &:hover {
        color: #fd8a00;
      }
      &:hover svg {
        color: #fd8a00;
      }
    }
  }
}

p {
  color: #737373;
  font-size: 14px;
  a {
    color: #ff6900;
    transition: all 0.5s;
    &:hover {
      color: #fd8a00;
    }
  }
}
