<section class="py-5">
    <div class="container">
        <div class="top-content  py-5">

            <div class="d-flex  py-4 m-auto justify-content-center">
                <a [routerLink]="['/home']">الرئيسية
                </a>
                <i class="fa-solid fa-angle-left" style="color: rgb(214, 211, 211);"></i>
                <span>سياسة الخصوصية</span>
            </div>
            <div class="parent-icon">
                <div class=" text-center icon">
                    <i class="fa-solid fa-lock"></i>
                </div>
            </div>
            <h4 class="text-center my-4">سياسة الخصوصية</h4>
            <p class="text-center">آخر تحديث: 15 يناير 2026</p>

        </div>

        <div class="content text-center border-bottom">
            <div class="title d-flex justify-content-start">
                <div class="icon-card"><svg class=" h-6 text-orange-500" fill="none" stroke="currentColor"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z">
                        </path>
                    </svg></div>
                <div class="me-3 ">
                    <h6 class="text-end mb-0">خصوصيتك تهمنا</h6>
                    <p class="mb-0">نحن ملتزمون بحماية معلوماتك الشخصية والشفافية بشأن ما نجمعه.</p>
                </div>
            </div>

            <ul class="text-end me-4 content">

                <li class="my-4"><span class="num-list ms-3">1</span> <span class="title-num">مقدمة</span>
                    <p class="mb-4 mt-3 pe-5">مرحباً بك في عدسة. نحن نحترم خصوصيتك وملتزمون بحماية بياناتك الشخصية.
                        ستعلمك
                        سياسة
                        الخصوصية هذه
                        بكيفية العناية ببياناتك الشخصية عند زيارة موقعنا وتخبرك عن حقوق الخصوصية الخاصة بك.

                        2</p>
                </li>

                <li class="my-4">
                    <span class="num-list ms-3">2</span><span class="title-num">المعلومات التي نجمعها</span>
                    <ul class="space-y-3">
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span><strong class="text-white">بيانات الهوية:</strong> تشمل الاسم الأول، الاسم
                                الأخير، اسم المستخدم أو معرف مشابه.</span></li>
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span><strong class="text-white">بيانات الاتصال:</strong> تشمل عنوان البريد
                                الإلكتروني.</span></li>
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span><strong class="text-white">البيانات التقنية:</strong> تشمل عنوان IP، نوع
                                المتصفح، المنطقة الزمنية، ونظام التشغيل.</span></li>
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span><strong class="text-white">بيانات الاستخدام:</strong> تشمل معلومات حول كيفية
                                استخدامك لموقعنا وخدماتنا.</span></li>
                    </ul>
                </li>

                <li class="my-4">
                    <span class="num-list ms-3">3</span><span class="title-num">كيف نستخدم معلوماتك</span>
                    <ul class="space-y-3">
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span>لتقديم خدمتنا والحفاظ عليها</span></li>
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span>لإخطارك بالتغييرات في خدمتنا</span></li>
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span>لتقديم دعم العملاء</span></li>
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span>لجمع تحليلات أو معلومات قيمة لتحسين خدمتنا</span></li>
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span>لمراقبة استخدام خدمتنا</span></li>
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span>لاكتشاف ومنع ومعالجة المشاكل التقنية</span></li>
                    </ul>
                </li>

                <li class="my-4">
                    <span class="num-list ms-3">4</span><span class="title-num">ملفات تعريف الارتباط</span>
                    <p class="my-3 pe-5">نستخدم ملفات تعريف الارتباط وتقنيات التتبع المشابهة لتتبع النشاط على موقعنا.
                        يمكنك
                        توجيه متصفحك
                        لرفض جميع ملفات تعريف الارتباط أو للإشارة عند إرسال ملف تعريف ارتباط. ومع ذلك، إذا لم تقبل ملفات
                        تعريف الارتباط، فقد لا تتمكن من استخدام بعض أجزاء موقعنا.</p>
                </li>

                <li class="my-4">
                    <span class="num-list ms-3">5</span><span class="title-num"> أمان البيانات </span>
                    <p class="my-3 pe-5">لقد وضعنا تدابير أمنية مناسبة لمنع فقدان بياناتك الشخصية أو استخدامها أو الوصول
                        إليها بشكل غير
                        مصرح به عن طريق الخطأ. نحن نحد الوصول إلى بياناتك الشخصية لأولئك الذين لديهم حاجة عملية للمعرفة.
                    </p>
                </li>

                <li class="my-4">
                    <span class="num-list ms-3">6</span><span class="title-num">حقوقك</span>
                    <ul class="space-y-3">
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span>طلب الوصول إلى بياناتك الشخصية</span></li>
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span>طلب تصحيح بياناتك الشخصية</span></li>
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span>طلب مسح بياناتك الشخصية</span></li>
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span>الاعتراض على معالجة بياناتك الشخصية</span></li>
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span>طلب تقييد معالجة بياناتك الشخصية</span></li>
                        <li class="flex items-start gap-3 text-neutral-400 my-2"><svg
                                class="w-5 h-5 text-orange-500 flex-shrink-0 mt-0.5" fill="currentColor"
                                viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                    clip-rule="evenodd"></path>
                            </svg><span>الحق في سحب الموافقة</span></li>
                    </ul>
                </li>
                <li class="mt-4 mb-5">
                    <span class="num-list ms-3">7</span><span class="title-num">تواصل معنا</span>
                    <p class="my-2 pe-5">إذا كان لديك أي أسئلة حول سياسة الخصوصية هذه، يرجى التواصل معنا:</p>
                    <a href="mailto:hello@adasah.com" class="me-5"><svg class="ms-2" fill="none" stroke="currentColor"
                            viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z">
                            </path>
                        </svg>hello@adasah.com</a>
                </li>


            </ul>


        </div>

        <p class="my-4 text-center">باستخدام موقعنا، فإنك توافق على سياسة الخصوصية هذه. انظر أيضاً
            <a class="text-orange" [routerLink]="['/privacy']" data-discover="true">شروط
                الخدمة</a>.
        </p>
    </div>

</section>